body {
    margin: 0 10%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: green;
}

.container {
    height: 38em;
}

header {
    text-align: center;
    margin-top: 2rem;
    color: rgb(240, 237, 95);
}

.add-checklist {
    font-weight: bold;
    background-color: lightgreen;
}

#checklist-creator {
    text-align: center;
    margin-top: 4em;
    border: 1px solid black;
    padding: 1em 0;
    background-color: lightblue;
}

#title {
    width: 80%;
    height: 2em;
}

.checklist-form {
    margin-top: 2em;
    padding: 2em;
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
}

.checklist{
    /* border: 1px solid rgb(219, 65, 206); */
    background-color: rgb(126, 173, 202);
    margin: 0.5em 1em;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}

.checklist p {
    background-color: white;
    padding: 0.5em 1em;
    width: 50%;
    margin-left:0.5em; 
    text-align: left;
}

.checklist button {
    margin: 1rem;
    padding: 0 2em;
    font-size: 1rem;
    font-weight: bold;
}

.checklist-item {
    width: 100%;
    margin: 1em;
    padding:1em;
}

.checklist-item-input {
    width: 80%;
    text-align: -webkit-auto;
}

.checklist-item-btn {
    height: 2em;
    width: 4em;
    font-weight: bold;
}

.checklist-item-dtl {
    height: 1.8em;
    width: 8em;
    margin-right: 1.4em;
    margin-top: 4px;
    font-weight: bold;
}
.tempDIV{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}